name: Deploy Serverless Stack

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Dump DOT_ENV to Repository
        run: |
          if [ ! -f ".env" ]; then
            echo "${DOT_ENV}" > .env
          fi
        env:
          DOT_ENV: ${{ vars.DOT_ENV }}

      - name: Install Dependencies
        run: npm install

      - name: Deploy Stack to AWS
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SERVERLESS_LICENSE_KEY: ${{ secrets.SERVERLESS_LICENSE_KEY }}
        run: npm run deploy
